In [18]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

from pydataset import data

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from env import host, user, password

import matplotlib.pyplot as plt
import seaborn as sns
import graphviz
from graphviz import Graph

In [2]:
def get_titanic_data(host = host, user = user, password = password):
    db = 'titanic_db'
    return pd.read_sql('SELECT * FROM passengers', f'mysql+pymysql://{user}:{password}@{host}/{db}')

In [3]:
titanic = get_titanic_data()

In [4]:
titanic

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,None,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,None,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,None,Queenstown,1

In [5]:
# What is your baseline prediction?
# Based on the numbers baseline should be that passengers did not survive

titanic.groupby('survived').count()

,passenger_id,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
survived,,,,,,,,,,,,
0,549,549,549,424,549,549,549,549,549,67,549,549
1,342,342,342,290,342,342,342,340,342,136,340,342

In [6]:
titanic['baseline'] = 0

In [7]:
549 / (549 + 342)

0.6161616161616161

In [8]:
titanic['sex'] = (titanic['sex'] == 'male')

In [9]:
titanic.drop(columns = ['embark_town'], inplace = True)

In [10]:
# Create dummy variables of the species name.
titanic.dropna(how = 'any', inplace = True)
dummies_deck = pd.get_dummies(titanic[['deck']])
dummies_embarked = pd.get_dummies(titanic[['embarked']])
dummies_class = pd.get_dummies(titanic[['class']])
titanic.drop(columns = ['deck', 'embarked', 'class'], inplace = True)

In [11]:
titanic = pd.concat([titanic, dummies_deck, dummies_embarked, dummies_class], axis=1)

In [12]:
# What is your baseline accuracy?
# 61.62%
titanic

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,alone,baseline,...,deck_D,deck_E,deck_F,deck_G,embarked_C,embarked_Q,embarked_S,class_First,class_Second,class_Third
1,1,1,1,False,38.0,1,0,71.2833,0,0,...,0,0,0,0,1,0,0,1,0,0
3,3,1,1,False,35.0,1,0,53.1000,0,0,...,0,0,0,0,0,0,1,1,0,0
6,6,0,1,True,54.0,0,0,51.8625,1,0,...,0,1,0,0,0,0,1,1,0,0
10,10,1,3,False,4.0,1,1,16.7000,0,0,...,0,0,0,1,0,0,1,0,0,1
11,11,1,1,False,58.0,0,0,26.5500,1,0,...,0,0,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,871,1,1,False,47.0,1,1,52.5542,0,0,...,1,0,0,0,0,0,1,1,0,0
872,872,0,1,True,33.0,0,0,5.0000,1,0,...,0,0,0,0,0,0,1,1,0,0
879,879,1,1,False,56.0,0,1,83.1583,0,0,...,0,0,0,0,1,0,0,1,0,0
887,887,1,1,False,19.0,0,0,30.0000,1,0,...,0,0,0,0,0,0,1,1,0,0
889,889,1,1,True,26.0,0,0,30.0000,1,0,...,0,0,0,0,1,0,0,1,0,0

In [13]:
# Fit the decision tree classifier to your training sample and transform 
# (i.e. make predictions on the training sample)
train, test = train_test_split(titanic, test_size=.2, random_state=123, stratify=titanic['survived'])
train, validate = train_test_split(train, test_size=.3, random_state=123, stratify=train['survived'])

In [14]:
train

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,alone,baseline,...,deck_D,deck_E,deck_F,deck_G,embarked_C,embarked_Q,embarked_S,class_First,class_Second,class_Third
429,429,1,3,True,32.00,0,0,8.0500,1,0,...,0,1,0,0,0,0,1,0,0,1
679,679,1,1,True,36.00,0,1,512.3292,0,0,...,0,0,0,0,1,0,0,1,0,0
118,118,0,1,True,24.00,0,1,247.5208,0,0,...,0,0,0,0,1,0,0,1,0,0
435,435,1,1,False,14.00,1,2,120.0000,0,0,...,0,0,0,0,0,0,1,1,0,0
782,782,0,1,True,29.00,0,0,30.0000,1,0,...,1,0,0,0,0,0,1,1,0,0
209,209,1,1,True,40.00,0,0,31.0000,1,0,...,0,0,0,0,1,0,0,1,0,0
137,137,0,1,True,37.00,1,0,53.1000,0,0,...,0,0,0,0,0,0,1,1,0,0
337,337,1,1,False,41.00,0,0,134.5000,1,0,...,0,1,0,0,1,0,0,1,0,0
577,577,1,1,False,39.00,1,0,55.9000,0,0,...,0,1,0,0,0,0,1,1,0,0
641,641,1,1,False,24.00,0,0,69.3000,1,0,...,0,0,0,0,1,0,0,1,0,0
809,809,1,1,False,33.00,1,0,53.1000,0,0,...,0,1,0,0,0,0,1,1,0,0
297,297,0,1,False,2.00,1,2,151.5500,0,0,...,0,0,0,0,0,0,1,1,0,0
10,10,1,3,False,4.00,1,1,16.7000,0,0,...,0,0,0,1,0,0,1,0,0,1
195,195,1,1,False,58.00,0,0,146.5208,1,0,...,0,0,0,0,1,0,0,1,0,0
625,625,0,1,True,61.00,0,0,32.3208,1,0,...,1,0,0,0,0,0,1,1,0,0
699,699,0,3,True,42.00,0,0,7.6500,1,0,...,0,0,1,0,0,0,1,0,0,1
717,717,1,2,False,27.00,0,0,10.5000,1,0,...,0,1,0,0,0,0,1,0,1,0
331,331,0,1,True,45.50,0,0,28.5000,1,0,...,0,0,0,0,0,0,1,1,0,0
647,647,1,1,True,56.00,0,0,35.5000,1,0,...,0,0,0,0,1,0,0,1,0,0
515,515,0,1,True,47.00,0,0,34.0208,1,0,...,1,0,0,0,0,0,1,1,0,0
340,340,1,2,True,2.00,1,1,26.0000,0,0,...,0,0,1,0,0,0,1,0,1,0
88,88,1,1,False,23.00,3,2,263.0000,0,0,...,0,0,0,0,0,0,1,1,0,0
520,520,1,1,False,30.00,0,0,93.5000,1,0,...,0,0,0,0,0,0,1,1,0,0
377,377,0,1,True,27.00,0,2,211.5000,0,0,...,0,0,0,0,1,0,0,1,0,0
486,486,1,1,False,35.00,1,0,90.0000,0,0,...,0,0,0,0,0,0,1,1,0,0
393,393,1,1,False,23.00,1,0,113.2750,0,0,...,1,0,0,0,1,0,0,1,0,0
487,487,0,1,True,58.00,0,0,29.7000,1,0,...,0,0,0,0,1,0,0,1,0,0
789,789,0,1,True,46.00,0,0,79.2000,1,0,...,0,0,0,0,1,0,0,1,0,0
136,136,1,1,False,19.00,0,2,26.2833,0,0,...,1,0,0,0,0,0,1,1,0,0
690,690,1,1,True,31.00,1,0,57.0000,0,0,...,0,0,0,0,0,0,1,1,0,0
645,645,1,1,True,48.00,1,0,76.7292,0,0,...,1,0,0,0,1,0,0,1,0,0
345,345,1,2,False,24.00,0,0,13.0000,1,0,...,0,0,1,0,0,0,1,0,1,0
681,681,1,1,True,27.00,0,0,76.7292,1,0,...,1,0,0,0,1,0,0,1,0,0
252,252,0,1,True,62.00,0,0,26.5500,1,0,...,0,0,0,0,0,0,1,1,0,0
763,763,1,1,False,36.00,1,2,120.0000,0,0,...,0,0,0,0,0,0,1,1,0,0
268,268,1,1,False,58.00,0,1,153.4625,0,0,...,0,0,0,0,0,0,1,1,0,0
430,430,1,1,True,28.00,0,0,26.5500,1,0,...,0,0,0,0,0,0,1,1,0,0
710,710,1,1,False,24.00,0,0,49.5042,1,0,...,0,0,0,0,1,0,0,1,0,0
871,871,1,1,False,47.00,1,1,52.5542,0,0,...,1,0,0,0,0,0,1,1,0,0
659,659,0,1,True,58.00,0,2,113.2750,0,0,...,1,0,0,0,1,0,0,1,0,0
772,772,0,2,False,57.00,0,0,10.5000,1,0,...,0,1,0,0,0,0,1,0,1,0
230,230,1,1,False,35.00,1,0,83.4750,0,0,...,0,0,0,0,0,0,1,1,0,0
712,712,1,1,True,48.00,1,0,52.0000,0,0,...,0,0,0,0,0,0,1,1,0,0
325,325,1,1,False,36.00,0,0,135.6333,1,0,...,0,0,0,0,1,0,0,1,0,0
544,544,0,1,True,50.00,1,0,106.4250,0,0,...,0,0,0,0,1,0,0,1,0,0
92,92,0,1,True,46.00,1,0,61.1750,0,0,...,0,1,0,0,0,0,1,1,0,0
327,327,1,2,False,36.00,0,0,13.0000,1,0,...,1,0,0,0,0,0,1,0,1,0
820,820,1,1,False,52.00,1,1,93.5000,0,0,...,0,0,0,0,0,0,1,1,0,0
310,310,1,1,False,24.00,0,0,83.1583,1,0,...,0,0,0,0,1,0,0,1,0,0
741,741,0,1,True,36.00,1,0,78.8500,0,0,...,0,0,0,0,0,0,1,1,0,0
724,724,1,1,True,27.00,1,0,53.1000,0,0,...,0,1,0,0,0,0,1,1,0,0
748,748,0,1,True,19.00,1,0,53.1000,0,0,...,1,0,0,0,0,0,1,1,0,0
779,779,1,1,False,43.00,0,1,211.3375,0,0,...,0,0,0,0,0,0,1,1,0,0
291,291,1,1,False,19.00,1,0,91.0792,0,0,...,0,0,0,0,1,0,0,1,0,0
174,174,0,1,True,56.00,0,0,30.6958,1,0,...,0,0,0,0,1,0,0,1,0,0
484,484,1,1,True,25.00,1,0,91.0792,0,0,...,0,0,0,0,1,0,0,1,0,0
689,689,1,1,False,15.00,0,1,211.3375,0,0,...,0,0,0,0,0,0,1,1,0,0
139,139,0,1,True,24.00,0,0,79.2000,1,0,...,0,0,0,0,1,0,0,1,0,0
177,177,0,1,False,50.00,0,0,28.7125,1,0,...,0,0,0,0,1,0,0,1,0,0
62,62,0,1,True,45.00,1,0,83.4750,0,0,...,0,0,0,0,0,0,1,1,0,0
796,796,1,1,False,49.00,0,0,25.9292,1,0,...,1,0,0,0,0,0,1,1,0,0
218,218,1,1,False,32.00,0,0,76.2917,1,0,...,1,0,0,0,1,0,0,1,0,0
434,434,0,1,True,50.00,1,0,55.9000,0,0,...,0,1,0,0,0,0,1,1,0,0
765,765,1,1,False,51.00,1,0,77.9583,0,0,...,1,0,0,0,0,0,1,1,0,0
862,862,1,1,False,48.00,0,0,25.9292,1,0,...,1,0,0,0,0,0,1,1,0,0
248,248,1,1,True,37.00,1,1,52.5542,0,0,...,1,0,0,0,0,0,1,1,0,0
370,370,1,1,True,25.00,1,0,55.4417,0,0,...,0,1,0,0,1,0,0,1,0,0
737,737,1,1,True,35.00,0,0,512.3292,1,0,...,0,0,0,0,1,0,0,1,0,0
889,889,1,1,True,26.00,0,0,30.0000,1,0,...,0,0,0,0,1,0,0,1,0,0
523,523,1,1,False,44.00,0,1,57.9792,0,0,...,0,0,0,0,1,0,0,1,0,0
571,571,1,1,False,53.00,2,0,51.4792,0,0,...,0,0,0,0,0,0,1,1,0,0
292,292,0,2,True,36.00,0,0,12.8750,1,0,...,1,0,0,0,1,0,0,0,1,0
102,102,0,1,True,21.00,0,1,77.2875,0,0,...,1,0,0,0,0,0,1,1,0,0
224,224,1,1,True,38.00,1,0,90.0000,0,0,...,0,0,0,0,0,0,1,1,0,0
97,97,1,1,True,23.00,0,1,63.3583,0,0,...,1,0,0,0,1,0,0,1,0,0
262,262,0,1,True,52.00,1,1,79.6500,0,0,...,0,1,0,0,0,0,1,1,0,0
27,27,0,1,True,19.00,3,2,263.0000,0,0,...,0,0,0,0,0,0,1,1,0,0
319,319,1,1,False,40.00,1,1,134.5000,0,0,...,0,1,0,0,1,0,0,1,0,0
299,299,1,1,False,50.00,0,1,247.5208,0,0,...,0,0,0,0,1,0,0,1,0,0
307,307,1,1,False,17.00,1,0,108.9000,0,0,...,0,0,0,0,1,0,0,1,0,0
305,305,1,1,True,0.92,1,2,151.5500,0,0,...,0,0,0,0,0,0,1,1,0,0
170,170,0,1,True,61.00,0,0,33.5000,1,0,...,0,0,0,0,0,0,1,1,0,0
887,887,1,1,False,19.00,0,0,30.0000,1,0,...,0,0,0,0,0,0,1,1,0,0
6,6,0,1,True,54.00,0,0,51.8625,1,0,...,0,1,0,0,0,0,1,1,0,0
806,806,0,1,True,39.00,0,0,0.0000,1,0,...,0,0,0,0,0,0,1,1,0,0
273,273,0,1,True,37.00,0,1,29.7000,0,0,...,0,0,0,0,1,0,0,1,0,0
460,460,1,1,True,48.00,0,0,26.5500,1,0,...,0,1,0,0,0,0,1,1,0,0
311,311,1,1,False,18.00,2,2,262.3750,0,0,...,0,0,0,0,1,0,0,1,0,0
759,759,1,1,False,33.00,0,0,86.5000,1,0,...,0,0,0,0,0,0,1,1,0,0
512,512,1,1,True,36.00,0,0,26.2875,1,0,...,0,1,0,0,0,0,1,1,0,0
857,857,1,1,True,51.00,0,0,26.5500,1,0,...,0,1,0,0,0,0,1,1,0,0
539,539,1,1,False,22.00,0,2,49.5000,0,0,...,0,0,0,0,1,0,0,1,0,0
332,332,0,1,True,38.00,0,1,153.4625,0,0,...,0,0,0,0,0,0,1,1,0,0
556,556,1,1,False,48.00,1,0,39.6000,0,0,...,0,0,0,0,1,0,0,1,0,0
148,148,0,2,True,36.50,0,2,26.0000,0,0,...,0,0,1,0,0,0,1,0,1,0
585,585,1,1,False,18.00,0,2,79.6500,0,0,...,0,1,0,0,0,0,1,1,0,0
318,318,1,1,False,31.00,0,2,164.8667,0,0,...,0,0,0,0,0,0,1,1,0,0
716,716,1,1,False,38.00,0,0,227.5250,1,0,...,0,0,0,0,1,0,0,1,0,0
572,572,1,1,True,36.00,0,0,26.3875,1,0,...,0,1,0,0,0,0,1,1,0,0
707,707,1,1,True,42.00,0,0,26.2875,1,0,...,0,1,0,0,0,0,1,1,0,0
599,599,1,1,True,49.00,1,0,56.9292,0,0,...,0,0,0,0,1,0,0,1,0,0

In [15]:
x_train = train.drop(columns = ['survived'])
y_train = train.survived

x_validate = validate.drop(columns = ['survived'])
y_validate = validate.survived

x_test = test.drop(columns = ['survived'])
y_test = test.survived

In [16]:
clf = DecisionTreeClassifier(max_depth=3, random_state=123)

In [17]:
clf = clf.fit(x_train, y_train)

In [19]:
dot_data = export_graphviz(clf, feature_names= x_train.columns, rounded=True, filled=True, out_file=None)
graph = graphviz.Source(dot_data) 

graph.render('tips_decision_tree', view=True, format="pdf")

'tips_decision_tree.pdf'